body{
    margin: 0px;
    padding: 0px;
    overflow: hidden;
}
.screen{
    position: relative;
    height: 100%;
    background: url('/src/components/images/bg.gif') center no-repeat;
    background-size: cover ;
}
.screen-gradient {
    width: 100%;
    z-index: 1;
    height: 100vh;
    background: rgba(0, 0, 0, 0.4);
    background-image: linear-gradient(to top,
            rgba(0, 0, 0, 0.8) 0,
            rgba(0, 0, 0, 0) 60%,
            rgba(0, 0, 0, 0.8)100%);
}
.screen-body {
    position: absolute;
    top: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    z-index: 1;
    color: #fff;
    padding: 20px;
    left: 0;
    right: 0;
}
.app-name > span{
    color: #e2a983
}
.app-name{
    font-size: 80px;
    font-weight: 800;
    object-fit: contain;
}
.screen-body > p{
    color: rgb(207, 207, 207);
    font-size: 18px;
    font-weight: 600;
}
.screen-btn{
    padding: 20px;
    margin: 30px;
    width: 200px;
    border: none;
    border-radius: 9px;
    font-size: 17px;
    background: #e2a983;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
    transition: 0.3s;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}
.screen-btn:hover{
    background-color: #FBCEB1;
    color: rgb(0, 0, 0);
}